.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  ul {
    display: flex;
    flex-direction: column;
    margin: 0;
    margin-bottom: 2rem;
    padding: 0;
    list-style: none;
    width: 100%;
  }

  button[type="button"] {
    padding: 0;
    border: none;
    border-radius: 50%;
    background-color: transparent;

    svg {
      cursor: pointer;
      transition: transform 3s;
    }
  }

  button[type="button"]:hover {
    svg {
      color: #333;
      transform: rotateZ(360deg);
    }
  }
}
