.container {
  max-width: 68rem;
  min-width: 38rem;
  height: 100%;
  width: 100%;

  margin: 1rem auto 0;
  padding: 0;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 0;
}

.mainContainer {
  background: #fff;
  padding: 2rem 4rem;
}

@media (max-width: 34rem) {
  .container {
    margin: 0 auto;
    padding: 0;
    width: 100%;
  }

  .mainContainer {
    padding: 1rem 2rem;
    font-size: 20px;
  }
}

.footer {
  background: url("../../public/gifs/matrix-animation-background.gif") #fff;
  background-repeat: no-repeat;
  background-size: 100% 12rem;

  width: 100%;
  min-width: 30rem;
  padding-top: 6rem;
  margin-bottom: 1rem;
}
