.backgroundHeader {
  background: url("../../public/gifs/matrix-animation-background.gif") #fff;
  background-repeat: no-repeat;
  background-size: 100% 12rem;

  width: 100%;
  min-width: 30rem;
  padding-top: 6rem;
  border-radius: 30px 30px 0 0;

  h1 {
    margin-bottom: 0;
  }

  @media (max-width: 34rem) {
    margin: 0;
    border-radius: 0;
  }
}
