.container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;

  margin: 0;
  padding: 0;
  height: 6rem;
  width: 100%;
  cursor: pointer;

  p {
    font-family: monospace;
    font-size: 2rem;
    font-weight: bold;
    padding: 0 1rem;
    flex: 1;
  }

  input[type="color"] {
    margin: 0;
    padding: 0;
    visibility: hidden;
    width: 0;
    height: 0;
  }
}
