html,
body {
    padding: 0;
    margin: 0;
    font-family: monospace;
    line-height: 1.6;
    font-size: 14px;

    background-color: #e5e5e5;
}

* {
    box-sizing: border-box;
}

a {
    color: #0070f3;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

img {
    max-width: 100%;
    display: block;
}

main {
    margin-top: 0;
    padding-top: 1rem;
}

table,
th,
td {
    border: 1px solid #333;
}

table {
    margin: 0 auto;
}

th {
    background-color: #efefef;
    text-align: center;
}

td {
    padding-right: 0.3rem;
}

td + td {
    text-align: center;
}

u {
    text-decoration-color: #8257e5;
    text-decoration-style: wavy;
}

pre {
    background-color: rgb(246, 248, 250);
    border-radius: 6px;
    margin: 0.5rem 0;
    padding: 0;
    font-family: monospace;
    font-size: 1rem;

    overflow: auto;
    text-overflow: ellipsis;
}

code {
    white-space: pre;
    word-break: normal;
    word-wrap: normal;
}

p {
    tab-size: 2rem;
    -moz-tab-size: 2rem; /* Firefox */
}

@media (max-width: 375px) {
    p,
    div,
    li {
        font-size: 1.4rem;
    }
}
