.heading2X1 {
    font-size: 2.5rem;
    line-height: 1.2;
    font-weight: 800;
    letter-spacing: -0.05rem;
    margin: 1rem 0;
}

.headingX1 {
    font-size: 2rem;
    line-height: 1.3;
    font-weight: 800;
    letter-spacing: -0.05rem;
    margin: 1rem 0;
}

.headingLg {
    font-size: 1.5rem;
    line-height: 1.4;
    margin: 1rem 0;
}

.headingMd {
    font-size: 1.2rem;
    line-height: 1.5;
}

.borderCircle {
    border-radius: 9999px;
}

.colorInherit {
    color: inherit;
}

.padding1px {
    padding-top: 1px;
}

.list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.listItem {
    margin: 0 0 1.25rem;
}

.lightText {
    color: #999;
}

.mainContent {
    display: flex;
    flex-direction: column;
    width: 100%;

    padding: 0 1.5rem 2rem 1.5rem;
}

.backgroundWhite {
    background-color: #fff;
}

.shadow {
    box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.4s;
}

.shadow:hover {
    cursor: pointer;
    box-shadow: 4px 4px 2px 1px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.4s;
}
