$mainHeight: 100px;
$bgColor: rgb(15, 103, 154);

.flexHeader {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  height: $mainHeight;
  background-color: $bgColor;
  padding: 0 60px;

  a {
    color: #ffffff;
    margin: 0 10px;

    &:hover {
      color: rgba(255, 255, 255, 0.8);
    }
  }
}

.logo {
  width: $mainHeight;
  height: 100%;
}

.menuPages {
  color: #fff;
}

// Configuração do Bootstrap

// Small devices
@media (max-width: 576px) {
  .flexHeader {
    padding: 0 20px;

    a {
      margin: 0;
    }
  }
}

// Medium devices
@media (max-width: 768px) {
  .flexHeader {
    padding: 0 20px;

    a {
      margin: 0;
    }
  }
}

// Large devices
@media (max-width: 992px) {
}

// Extra large devices
@media (max-width: 1200px) {
}
