:root, [data-color-mode=light] {
  --color-template-background: #ffffff;
  --color-anchor: #0070f3;
  --color-visited-anchor: #027148;
  --color-table-border: #333333;
  --color-table-header-background: #efefef;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: monospace;
  line-height: 1.5;
  font-size: 13px;
  background-color: var(--color-template-background);
}

* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  display: block;
}

main {
  margin-top: 0;
  padding-top: 1rem;
}

pre {
  border-radius: 4px;
  font-size: 1rem;
  overflow: auto;
  text-overflow: ellipsis;
}

code {
  white-space: pre;
  word-break: normal;
  word-wrap: normal;
}

p {
  font-size: 1.25rem;
  tab-size: 2rem;
  -moz-tab-size: 2rem; /* Firefox */
  text-align: justify;
  text-indent: 3rem;
}

li {
  font-size: 1.25rem;
}

/* =========== Begin Anchor =========== */
a {
  color: var(--color-anchor);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:visited {
  color: var(--color-visited-anchor);
}
/* =========== End Anchor =========== */
/* =========== Begin Table =========== */
table,
th,
td {
  border: 1px solid var(--color-table-border);
}

table {
  margin: 0 auto;
}

th {
  background-color: var(--color-table-header-background);
  text-align: center;
}

td {
  padding: 0.6rem;
}
/* =========== End Table =========== */

@media (max-width: 375px) {
  p,
  div,
  li {
    font-size: 1.3rem;
  }
}
